[Unit]
Description=Theme sync every 30 seconds

[Timer]
OnBootSec=5s
OnUnitActiveSec=30s
AccuracySec=1s
Persistent=false

[Install]
WantedBy=timers.target
